@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
}

.header{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("image.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	margin: 25px;
	border-radius: 70px;

}

.header .above{
	align:center;
}

h1{
	color: #fff;
	margin-bottom: 70px;
	font-size: 45px;
	letter-spacing: 2px;
	text-align: center;
}

.search-field{
	height: 25px;
	padding: 10px;
	border: none;
	border-radius: 25px;
	outline: none;
}

.business{
	width: 350px;
}

.search-btn{
	height: 30px;
	width: 125px;
	background: #ffeb3b;
	border: none;
	color: #000;
	border-radius: 25px;
}

.search-btn:hover{
	background: #ffc107;
	cursor: pointer;
}

.form-box{
	background: rgba(0,0,0,0.5);
	padding-left: 110px;
	padding-bottom:5px;
	padding-top:5px;
}
.main-nav {
    display: flex;
    background: orangered;
    color: white;
    border-radius: 3px;
    margin: 25px;
	padding: 1em;
    font-family: sans-serif;
	border-radius: 20px;
  }
  .main-nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
  }
  .main-nav li {
    margin-right: 1em;
  }
  .main-nav > form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  .main-nav input {
    flex: 1;
  }
  .main-nav button {
    background: white;
    border: 0;
    border-radius: 1em;
    color: orangered;
    padding: 0 1em;
    margin-left: .3em;
  }
* {
    box-sizing: border-box; 
  }
 #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 1;
	background: white;
	
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
	background-image:url("tag_cloud.PNG");
  }
  
  #main > aside {
    background: beige;
    order: 2;
	#margin-left: 5px;
	#margin-right: 300px;
}
  header, footer {
    background: yellowgreen;
    height: 20vh;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }

.row{
	display: grid;
	grid-auto-flow: column;
	gap: 10%;
	#grid-template: 50px 1fr / 25px 1fr;
}
.col{
	border: ridge 5px black;
	background: white;
	opacity: .92;
}
.col h2{  
	align: center;
}
.col img{
	padding-left: 50px;
}
.save-btn{
	height: 50px;
	width: 125px;
	#background: orange;
	background-color: rgba(255,165,0,1.0) !important;
	border: none;
	color: #000;
	border-radius: 25px;
	margin-left: 275px;
	box-shadow: 0 0 15px 12px rgba(0,0,0,.35);
}


.save-btn:hover{
	#background: orangered;
	background-color: rgba(255,140,0,1.0) !important;
	cursor: pointer;
}

 @media screen and (max-width: 575px) {
   .main-nav {
     flex-direction: column;
   }
   .main-nav ul {
     flex-direction: row; /* Change this to 'column' to stack the links */
     margin-bottom: 1em;
   }
  }